<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

    <title>Room List</title>
</head>

<body>

<div class="container">

    <h3>Hotel Rooms</h3>
    <hr>

    <!-- Add a search form -->
    <div class="row">
        <div class="col-md-6 mt-1">
    <form action="#" th:action="@{/rooms/search}"
          method="GET" class="form-inline">


<!--        &lt;!&ndash; Add a button &ndash;&gt;-->
<!--        <a th:href="@{/rooms/showFormForAdd}"-->
<!--           class="btn btn-primary btn-sm mb-3">-->
<!--            Add Employee-->
<!--        </a>-->
        <div class="form-group">
            <label for="categories">Categories:</label>
            `
            <select name="category" id="categories">
            <option value=""> -- </option>
            <option th:each="category : ${categories}"
                    th:value="${category.id}"
                    th:utext="${category.name}"/>
        </select>
        </div>

        <div class="form-group">
            <label for="startDate">Arrival: </label>
            <input type="date" class="input-sm form-control"
                   name="startDate"
                   id="startDate"
                   placeholder="YYYY/MM/DD"/>
        </div>

<br>
        <br>

        <div class="form-group">
            <label for="endDate">Departure: </label>
            <input type="date" class="input-sm form-control"
                   name="endDate"
                   id="endDate"
                   th:value=null
                   placeholder="YYYY/MM/DD"
            />
        </div>

        <button type="submit"
                class="btn btn-success ">Search</button>

    </form>
        </div>
    </div>

    <table class="table table-bordered table-striped">
        <thead class="thead-dark">
        <tr>
            <th>Name</th>
            <th>description</th>
            <th>Type</th>
            <th>Action</th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="tempRoom : ${rooms}">

            <td th:text="${tempRoom.name}" />
            <td th:text="${tempRoom.description}" />
            <td th:text="${tempRoom.type.getName()}" />

          <td>
<!--                &lt;!&ndash; Add "update" button/link &ndash;&gt;-->
<!--                <a th:href="@{/employees/showFormForUpdate(employeeId=${tempEmployee.id})}"-->
<!--                   class="btn btn-info btn-sm">-->
<!--                    Update-->
<!--                </a>-->

<!--                &lt;!&ndash; Add "delete" button/link &ndash;&gt;-->
<!--                <a th:href="@{/employees/delete(employeeId=${tempEmployee.id})}"-->
<!--                   class="btn btn-danger btn-sm"-->
<!--                   onclick="if (!(confirm('Are you sure you want to delete this employee?'))) return false">-->
<!--                    Delete-->
<!--                </a>-->

<!--               Add "update" button/link &ndash;-->
                              <a th:href="@{/order/addOrder(roomId=${tempRoom.id})}"
                                 class="btn btn-info btn-sm">
                                  Order
                              </a>
            </td>


        </tr>
        </tbody>
    </table>

</div>
<script>
    document.getElementById("startDate").min = new Date().toISOString().split("T")[0];
    document.getElementById("endDate").min = new Date().toISOString().split("T")[0];
    document.body.addEventListener('input', () => {
        const val = document.getElementById('startDate')
        document.getElementById("endDate").min = val.value;
        console.log(val);
    });
</script>

</body>
</html>



